cagrid.na.prefix=https://purlz.cagrid.org:8443/localhost/
cagrid.na.schemauri=https://localhost:8443/namingauthority/org.cagrid.identifiers.namingauthority.xsd
cagrid.na.grid.url=https://localhost:8443/wsrf/services/cagrid/IdentifiersNAService

cagrid.na.db.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
cagrid.na.db.driver=com.mysql.jdbc.Driver
cagrid.na.db.name=natest
cagrid.na.db.url=jdbc:mysql://localhost:3306/${cagrid.na.db.name}
cagrid.na.db.username=root
cagrid.na.db.password=root123

cagrid.na.gridgrouper.grouperURL=https://localhost:8443/wsrf/services/cagrid/GridGrouper
cagrid.na.gridgrouper.groupName=grouperadministration:group1